<div class="backdrop" [ngStyle]="{'display':display}"></div>


<button type="button" class="btn btn-info btn-lg" (click)=openModalDialog()>click to Login</button>

<!-- modal section -->
<div id="myModelPopup" class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">

    <!-- modal-dialog -->
    <div class="modal-dialog" role="document">

        <!-- modal-content -->
        <div class="modal-content">

            <!-- modal-header -->
                 <div class="modal-header">
                       <h4 class="modal-title">Login</h4>
                       <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span
                        aria-hidden="true">&times;</span></button>
                     </div>

            <!-- modal-body -->
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="container">

                            <form [formGroup]="logedInForm" (ngSubmit)="mdfLogin(logedInForm.value)">

                                <div class="input-group field mt-2">
                                        <span class="input-group-addon">
                                        <i class="fa fa-user mr-2"></i></span>
                                        <input id="nameId" name="name" type="text" value="" 
                                               class="form-control"
                                               data-val="true" formControlName="name"
                                               data-val-required="Please enter your name">
                                </div>

                                <div class="input-group field mt-2">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope mr-1"></i></span>
                                       <input id="emailId" name="Email" type="text" value=""
                                           class="form-control"
                                           data-val="true" formControlName="emailId"
                                           data-val-regex="Please enter correct email"
                                           data-val-regex-pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
                                           data-val-required="Please enter your email address">
                                </div>
                                <div class="input-group field mt-2">
                                    <span class="input-group-addon">
                                        <i class="fa fa-key mr-1"
                                            aria-hidden="true"></i></span>
                                       <input id="pwdId" name="Pwd" type="password" value="" 
                                           class="form-control"
                                           formControlName="password"
                                           data-val-length="The field password must be maximum length of 3."
                                           data-val-required="Please enter your password" 
                                           minlength="3">
                                </div>

                                <div class="mt-4 col-md-8 offset-md-2">
                                    <button type="submit" class="btn btn-info mr-3"
                                            [disabled]="!logedInForm.valid"
                                            >Login</button>
                                    <button type="reset" class="btn btn-info"
                                        [disabled]="!logedInForm.valid"
                                        (click)="onReset()">Reset</button>
                                </div>
                                <br>
                                <div>
                                    <p>EmailId Is - {{emailId}} and Password is - {{password}}</p>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>

            </div>

            <!-- modal-footer -->
                 <div class="modal-footer">
                       <button type="button" 
                               class="btn btn-default" 
                               (click)="closeModalDialog()">Close</button>
                  </div>

        </div> <!-- end modal content -->
    </div> <!-- end modal dialog -->
</div> <!-- end modal -->